# Python
__pycache__/
*.py[cod]
*$py.class
venv-*/
requirements.txt

# Frontend / Node
frontend/node_modules/
frontend/dist/
.DS_Store

# IDE
.id*/
.vs*/
.co*/
.tr*/
.hi*/
.ba*/

# Build artifacts
build/
dist/
*.egg-info/
